# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Database
*.db
*.db-journal
sql_app.db
test.db

# VS Code
.vscode/

# Editor files
editor_files/

# Environment
.env
.venv
venv/
ENV/

# Testing
.coverage
.pytest_cache/
htmlcov/

# Logs
*.log